<header
  class="flex flex-col items-center justify-center w-screen border-b h-fit"
>
  <div
    class="flex flex-col items-center justify-between w-full gap-2 p-2 text-white h-fit xl:flex-row xl:h-16 bg-neutral custom_container_media"
  >
    <p class="text-xs text-white"></p>
    <p class="text-xs text-white">
      Visit our showroom in 123 Street Address City Address, 123
      <a class="underline">Contact Us</a>
    </p>
    <div class="flex items-center gap-4 text-xs text-white">
      <p>Call Us: +6398272625261</p>
      <div class="flex items-center gap-2">
        <lucide-icon name="facebook" class="w-5 h-5"></lucide-icon>
        <lucide-icon name="instagram" class="w-5 h-5"></lucide-icon>
      </div>
    </div>
  </div>

  <div
    class="flex flex-row items-center justify-between w-full h-16 px-2 custom_container_media"
  >
    <app-header-navigation></app-header-navigation>
    <app-nav-btn></app-nav-btn>
  </div>
</header>
