<footer
  class="flex items-center justify-center w-full pt-16 pb-5 text-white h-fit bg-primary"
>
  <div
    class="flex flex-col items-center justify-between w-full h-fit custom_container_media"
  >
    <div class="flex flex-col w-full gap-5 py-5 xl:flex-row xl:justify-between">
      <div class="flex flex-col">
        <span class="text-2xl font-semibold">Sign Up To Our Newslatter</span>
        <p class="text-xs font-light">
          Be the first to hear about the latest offers.
        </p>
      </div>
      <app-footer-subscribe></app-footer-subscribe>
    </div>

    <nav
      class="flex flex-col w-full gap-5 py-5 h-fit xl:flex-row xl:justify-between"
    >
      <div class="flex flex-col gap-5">
        <span class="text-sm font-semibold opacity-70">Information</span>
        <ul class="flex flex-col gap-2 text-xs font-light">
          <li><a href="" class="hover:underline">About us</a></li>
          <li><a href="" class="hover:underline">About Zip</a></li>
          <li><a href="" class="hover:underline">Privacy Policy</a></li>
          <li><a href="" class="hover:underline">Search</a></li>
          <li><a href="" class="hover:underline">Terms</a></li>
          <li><a href="" class="hover:underline">Orders and Returns</a></li>
          <li><a href="" class="hover:underline">Contact Us</a></li>
          <li><a href="" class="hover:underline">Advance Search</a></li>
          <li>
            <a href="" class="hover:underline">Newsletter Subscription</a>
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-5">
        <span class="text-sm font-semibold opacity-70">PC Parts</span>
        <ul class="flex flex-col gap-2 text-xs font-light">
          <li><a href="" class="hover:underline">CPUS</a></li>
          <li><a href="" class="hover:underline">Add On Cards</a></li>
          <li><a href="" class="hover:underline">Hard Drives (Internal)</a></li>
          <li><a href="" class="hover:underline">Graphic Cards</a></li>
          <li><a href="" class="hover:underline">Keyboards / Mice</a></li>
          <li>
            <a href="" class="hover:underline"
              >Cases / Power Supplies / Cooling</a
            >
          </li>
          <li><a href="" class="hover:underline">RAM (Memory)</a></li>
          <li><a href="" class="hover:underline">Software</a></li>
          <li><a href="" class="hover:underline">Speakers / Headets</a></li>
          <li><a href="" class="hover:underline">Motherboards</a></li>
        </ul>
      </div>

      <div class="flex flex-col gap-5">
        <span class="text-sm font-semibold opacity-70">Desktop PCs</span>
        <ul class="flex flex-col gap-2 text-xs font-light">
          <li><a href="" class="hover:underline">Customs PCs</a></li>
          <li><a href="" class="hover:underline">Servers</a></li>
          <li><a href="" class="hover:underline">MSI All-In-One PCs</a></li>
          <li><a href="" class="hover:underline">HP / Compaq PCs</a></li>
          <li><a href="" class="hover:underline">ASUS PCs</a></li>
          <li><a href="" class="hover:underline">Tecs PCs</a></li>
        </ul>
      </div>

      <div class="flex flex-col gap-5">
        <span class="text-sm font-semibold opacity-70">Laptops</span>
        <ul class="flex flex-col gap-2 text-xs font-light">
          <li><a href="" class="hover:underline">Everyday Use Notebooks</a></li>
          <li><a href="" class="hover:underline">MSI Workstation Series</a></li>
          <li><a href="" class="hover:underline">MSI Prestige Series</a></li>
          <li><a href="" class="hover:underline">Tablets and Pads</a></li>
          <li><a href="" class="hover:underline">Netbooks</a></li>
          <li>
            <a href="" class="hover:underline">Infinity Gaming Notebooks</a>
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-5">
        <span class="text-sm font-semibold opacity-70">Address</span>
        <ul class="flex flex-col gap-2 text-xs font-light">
          <li class="flex gap-1">
            Address:
            <address>1234 Street Adress City Address, 1234</address>
          </li>
          <li>Phones: (00) 1234 5678</li>
          <li>We are open: Monday-Thursday: 9:00 AM - 5:30 PM</li>
          <li>Friday: 9:00 AM - 6:00 PM</li>
          <li>Saturday: 11:00 AM - 5:00 PM</li>
          <li>E-mail: shop&#64;email.com</li>
        </ul>
      </div>
    </nav>

    <div
      class="flex flex-col w-full gap-10 pt-10 border-t border-base-200/50 h-fit xl:flex-row xl:justify-between"
    >
      <div class="flex gap-4">
        <lucide-icon
          name="facebook"
          class="cursor-pointer"
          [size]="20"
          [strokeWidth]="2.5"
        ></lucide-icon>
        <lucide-icon
          name="instagram"
          class="cursor-pointer"
          [strokeWidth]="2.5"
          [size]="20"
        ></lucide-icon>
      </div>

      <div class="flex gap-4">
        <span class="w-16 h-8">
          <img src="assets/paypal.svg" class="object-cover w-full h-full" />
        </span>
        <span class="w-16 h-8">
          <img src="assets/mastercard.svg" class="object-cover w-full h-full" />
        </span>
        <span class="w-16 h-8">
          <img src="assets/visa.svg" class="object-cover w-full h-full" />
        </span>
      </div>

      <p class="text-xs font-light">Copyright &#169; 2024 Shop Pty.Ltd.</p>
    </div>
  </div>

  <!--  -->
</footer>
