<div class="navbar bg-base-100 xl:hidden">
  <div class="gap-5 navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-5 gap-2 shadow bg-base-100 rounded-box w-56"
      >
        <li><a href="#" class="py-2 hover:text-primary">Laptops</a></li>
        <li><a href="#" class="py-2 hover:text-primary">Desktop Pcs</a></li>
        <li>
          <a href="#" class="py-2 hover:text-primary">Networking Devices</a>
        </li>
        <li>
          <a href="#" class="py-2 hover:text-primary">Printers & Scanners</a>
        </li>
        <li><a href="#" class="py-2 hover:text-primary">Pc Parts</a></li>
        <li>
          <a href="#" class="py-2 hover:text-primary">All Other Producs</a>
        </li>
        <li><a href="#" class="py-2 hover:text-primary">Repaires</a></li>

        <button class="text-xs btn btn-outline btn-sm">Our Details</button>
      </ul>
    </div>
    <span>Logo</span>
  </div>
</div>

<nav
  class="items-center justify-between hidden h-full xl:flex xl:w-full xl:gap-16"
>
  <span>Logo</span>
  <ul class="flex items-center h-full gap-8 text-sm font-medium w-fit">
    <li><a href="#" class="hover:text-primary">Laptops</a></li>
    <li><a href="#" class="hover:text-primary">Desktop Pcs</a></li>
    <li><a href="#" class="hover:text-primary">Networking Devices</a></li>
    <li><a href="#" class="hover:text-primary">Printers & Scanners</a></li>
    <li><a href="#" class="hover:text-primary">Pc Parts</a></li>
    <li><a href="#" class="hover:text-primary">All Other Producs</a></li>
    <li><a href="#" class="hover:text-primary">Repaires</a></li>
    <li>
      <button class="text-xs btn btn-outline btn-sm">Our Details</button>
    </li>
  </ul>
</nav>
