<header class="flex flex-col items-center justify-center w-full border-b h-fit">
  <div
    class="flex flex-col items-center justify-between w-full gap-2 p-2 text-white bg-primary custom_container_media h-fit xl:flex-row xl:h-16 bg-neutral"
  >
    <p></p>

    <p class="text-xs font-light text-white">
      Visit our showroom in 123 Street Address City Address, 123
      <a class="underline">Contact Us</a>
    </p>
    <div class="flex items-center gap-4 text-white">
      <p class="text-xs font-light">Call Us: +6398272625261</p>
      <div class="flex items-center gap-2">
        <lucide-icon
          name="facebook"
          [size]="20"
          [strokeWidth]="2.5"
          class="cursor-pointer"
        ></lucide-icon>
        <lucide-icon
          name="instagram"
          [size]="20"
          [strokeWidth]="2.5"
          class="cursor-pointer"
        ></lucide-icon>
      </div>
    </div>
  </div>

  <div
    class="flex flex-row items-center justify-between w-full h-16 px-2 custom_container_media"
  >
    <app-header-navigation></app-header-navigation>
    <app-nav-btn></app-nav-btn>
  </div>
</header>
