<div class="w-full mt-2 border h-fit">
  <hlm-carousel class="w-full h-fit">
    <hlm-carousel-content>
      @for(image of carouselImages; track image.id){
      <hlm-carousel-item class="w-full h-[10rem] md:h-[22rem]">
        <img [src]="image.src" alt="image" class="object-cover w-full h-full" />
      </hlm-carousel-item>
      }
    </hlm-carousel-content>
    <button hlm-carousel-previous class="text-white left-1"></button>
    <button hlm-carousel-next class="text-white right-1"></button>
  </hlm-carousel>
</div>
